<% include partials/header %>


<p>Enjoy our hand-picked adventures from all over the world</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="/adventures/new">Create new adventure</a><br>
                    <a class="btn btn-primary btn-lg" href="/">Back to start line</a>
                </p>
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% adventures.forEach(function(adventure){ %>
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= adventure.image %>">
                        <div class="caption">
                            <h4><%= adventure.name %></h4>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>

 

<% include partials/footer %>