<% include partials/header %>

<div class="container jumbo">
    	<div class="jumbotron">
    		<div class="col-md-12">
    			<div class="col-md-4 col-md-offset-4">
    				<h1>Welcome to the world of DnD</h1>
    				<a href="/adventures" class="btn btn-primary btn-lg">Start the adventure</a>
    			</div>    			
    		</div>
    	</div>
    </div>	

	

<% include partials/footer %>